<?xml version="1.0"?>
<config>
    <modules>
        <MD_Category>
            <version>0.1.2</version>
        </MD_Category>
    </modules>
    <frontend>
        <routers>
            <category>
                <use>standard</use>
                <args>
                    <module>MD_Category</module>
                    <frontName>category</frontName>
                </args>
            </category>
        </routers>
        <layout>
            <updates>
                <category>
                    <file>md_category.xml</file>
                </category>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<category>
				<use>admin</use>
				<args>
					<module>MD_Category</module>
					<frontName>category</frontName>
				</args>
			</category>
        </routers>
    </admin>
	<adminhtml>
	<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
                            <children>
                                <config>
                                    <children>
                                        <category translate="title" module="category">
                                            <title>Advanced Categories Support SEO</title>
                                        </category>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
    <global>
         <resources>
			<category_setup>
				<setup>
					<module>MD_Category</module>
					<class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</category_setup>
			<category_write>
				<connection>
					<use>core_write</use>
				</connection>
			</category_write>
			<category_read>
				<connection>
					<use>core_read</use>
				</connection>
			</category_read>
		</resources>
        <blocks>
            <category>
                <class>MD_Category_Block</class>
            </category>
        </blocks>
        <helpers>
            <category>
                <class>MD_Category_Helper</class>
            </category>
        </helpers>
    </global>
	<default>
		<category>
			<general>
				<enable>1</enable>
			</general>
		</category>
	</default>
</config>